// Color
$color-dark: #333;
$color-black: #000;
$color-white: #fff;
$color-grey: #cecece;

$bd-color: #ddd;

$bg-black: #222;
$bg-dark-grey: #525252;
$bg-grey: #f0f0f0;

// Font
$default-font-size: 1.6rem;

// Grid
$grid-width: 110rem;
$gutter-horizontal: 6rem;
