.btn {
	display: inline-block;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 1.2rem;
	font-weight: 700;
	padding: 1rem 4rem;
	color: $color-white;
	background-color: $color-black;
	letter-spacing: 0.015em;
}
