.u-right-text {
	text-align: right;

	@include respond(tab-port) {
		text-align: left;
	}
}
.u-center-text {
	text-align: center;
}
.u-height {
	height: 60vh !important;
}

.u-border-b {
	border-bottom: 1px solid #ddd;
	padding-bottom: 3rem;
}
