.aboutus-bgi {
	background-image: url(../img/about-kv.png);
	background-position: 0 0;

	@media screen and (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
		background-image: url(../img/about-kv@2x.png);
	}
}

.header {
	&__text-box {
		top: 30%;
	}
}

.section-vision {
	padding: 12rem 0;
}

.section-message {
	padding-bottom: 12rem;
}

.section-company {
	padding-bottom: 12rem;
}
